<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="setListLine">
      <h2 data-cy="setListLineDetailsHeading"><span jhiTranslate="cpVenueManagerApp.setListLine.detail.title">Set List Line</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ setListLine.id }}</span>
        </dd>
        <dt><span jhiTranslate="cpVenueManagerApp.setListLine.order">Order</span></dt>
        <dd>
          <span>{{ setListLine.order }}</span>
        </dd>
        <dt><span jhiTranslate="cpVenueManagerApp.setListLine.song">Song</span></dt>
        <dd>
          <div *ngIf="setListLine.song">
            <a [routerLink]="['/song', setListLine.song?.id, 'view']">{{ setListLine.song?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="cpVenueManagerApp.setListLine.setList">Set List</span></dt>
        <dd>
          <div *ngIf="setListLine.setList">
            <a [routerLink]="['/set-list', setListLine.setList?.id, 'view']">{{ setListLine.setList?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/set-list-line', setListLine.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
