<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-set-list-heading" data-cy="SetListCreateUpdateHeading" jhiTranslate="cpVenueManagerApp.setList.home.createOrEditLabel">
        Create or edit a Set List
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cpVenueManagerApp.setList.description" for="field_description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
          <div *ngIf="editForm.get('description')!.invalid && (editForm.get('description')!.dirty || editForm.get('description')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('description')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cpVenueManagerApp.setList.totalDuration" for="field_totalDuration">Total Duration</label>
          <input
            type="text"
            class="form-control"
            name="totalDuration"
            id="field_totalDuration"
            data-cy="totalDuration"
            formControlName="totalDuration"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cpVenueManagerApp.setList.venue" for="field_venue">Venue</label>
          <select class="form-control" id="field_venue" data-cy="venue" name="venue" formControlName="venue">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="venueOption.id === editForm.get('venue')!.value?.id ? editForm.get('venue')!.value : venueOption"
              *ngFor="let venueOption of venuesCollection; trackBy: trackVenueById"
            >
              {{ venueOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
