<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="song">
      <h2 data-cy="songDetailsHeading"><span jhiTranslate="cpVenueManagerApp.song.detail.title">Song</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ song.id }}</span>
        </dd>
        <dt><span jhiTranslate="cpVenueManagerApp.song.name">Name</span></dt>
        <dd>
          <span>{{ song.name }}</span>
        </dd>
        <dt><span jhiTranslate="cpVenueManagerApp.song.duration">Duration</span></dt>
        <dd>
          <span>{{ song.duration | duration }} ({{ song.duration }})</span>
        </dd>
        <dt><span jhiTranslate="cpVenueManagerApp.song.score">Score</span></dt>
        <dd>
          <span>{{ song.score }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/song', song.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
