<div>
  <h2 id="page-heading" data-cy="ExpenseHeading">
    <span jhiTranslate="cpVenueManagerApp.expense.home.title">Expenses</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="cpVenueManagerApp.expense.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-expense"
        [routerLink]="['/expense/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="cpVenueManagerApp.expense.home.createLabel"> Create a new Expense </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="expenses?.length === 0">
    <span jhiTranslate="cpVenueManagerApp.expense.home.notFound">No expenses found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="expenses && expenses.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="type">
            <span jhiTranslate="cpVenueManagerApp.expense.type">Type</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="value">
            <span jhiTranslate="cpVenueManagerApp.expense.value">Value</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="status">
            <span jhiTranslate="cpVenueManagerApp.expense.status">Status</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="payment.id">
            <span jhiTranslate="cpVenueManagerApp.expense.payment">Payment</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="member.id">
            <span jhiTranslate="cpVenueManagerApp.expense.member">Member</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="venue.id">
            <span jhiTranslate="cpVenueManagerApp.expense.venue">Venue</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let expense of expenses; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/expense', expense.id, 'view']">{{ expense.id }}</a>
          </td>
          <td jhiTranslate="{{ 'cpVenueManagerApp.ExpenseType.' + expense.type }}">{{ expense.type }}</td>
          <td>{{ expense.value }}</td>
          <td jhiTranslate="{{ 'cpVenueManagerApp.ExpenseStatus.' + expense.status }}">{{ expense.status }}</td>
          <td>
            <div *ngIf="expense.payment">
              <a [routerLink]="['/payment', expense.payment?.id, 'view']">{{ expense.payment?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="expense.member">
              <a [routerLink]="['/member', expense.member?.id, 'view']">{{ expense.member?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="expense.venue">
              <a [routerLink]="['/venue', expense.venue?.id, 'view']">{{ expense.venue?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/expense', expense.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/expense', expense.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(expense)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="expenses && expenses.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
