<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="member">
      <h2 data-cy="memberDetailsHeading"><span jhiTranslate="cpVenueManagerApp.member.detail.title">Member</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ member.id }}</span>
        </dd>
        <dt><span jhiTranslate="cpVenueManagerApp.member.firstName">First Name</span></dt>
        <dd>
          <span>{{ member.firstName }}</span>
        </dd>
        <dt><span jhiTranslate="cpVenueManagerApp.member.lastName">Last Name</span></dt>
        <dd>
          <span>{{ member.lastName }}</span>
        </dd>
        <dt><span jhiTranslate="cpVenueManagerApp.member.email">Email</span></dt>
        <dd>
          <span>{{ member.email }}</span>
        </dd>
        <dt><span jhiTranslate="cpVenueManagerApp.member.phoneNumber">Phone Number</span></dt>
        <dd>
          <span>{{ member.phoneNumber }}</span>
        </dd>
        <dt><span jhiTranslate="cpVenueManagerApp.member.voiceType">Voice Type</span></dt>
        <dd>
          <span jhiTranslate="{{ 'cpVenueManagerApp.VoiceType.' + member.voiceType }}">{{ member.voiceType }}</span>
        </dd>
        <dt><span jhiTranslate="cpVenueManagerApp.member.venue">Venue</span></dt>
        <dd>
          <span *ngFor="let venue of member.venues; let last = last">
            <a [routerLink]="['/venue', venue?.id, 'view']">{{ venue.id }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/member', member.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
