<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-venue-heading" data-cy="VenueCreateUpdateHeading" jhiTranslate="cpVenueManagerApp.venue.home.createOrEditLabel">
        Create or edit a Venue
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label class="form-label" jhiTranslate="cpVenueManagerApp.venue.type" for="field_type">Type</label>
            <select class="form-control" name="type" formControlName="type" id="field_type" data-cy="type">
              <option [ngValue]="null">{{ 'cpVenueManagerApp.Type.null' | translate }}</option>
              <option *ngFor="let type of typeValues" [value]="type">{{ 'cpVenueManagerApp.Type.' + type | translate }}</option>
            </select>
            <div *ngIf="editForm.get('type')!.invalid && (editForm.get('type')!.dirty || editForm.get('type')!.touched)">
              <small class="form-text text-danger" *ngIf="editForm.get('type')?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
              </small>
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label class="form-label" jhiTranslate="cpVenueManagerApp.venue.instant" for="field_instant">Instant</label>
            <div class="d-flex">
              <input
                id="field_instant"
                data-cy="instant"
                type="datetime-local"
                class="form-control"
                name="instant"
                formControlName="instant"
                placeholder="YYYY-MM-DD HH:mm"
              />
            </div>
            <div *ngIf="editForm.get('instant')!.invalid && (editForm.get('instant')!.dirty || editForm.get('instant')!.touched)">
              <small
                class="form-text text-danger"
                *ngIf="editForm.get('instant')?.errors?.required"
                jhiTranslate="entity.validation.required"
              >
                This field is required.
              </small>
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('instant')?.errors?.ZonedDateTimelocal"
                jhiTranslate="entity.validation.ZonedDateTimelocal"
              >
                This field should be a date and time.
              </small>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 mb-3">
            <label class="form-label" jhiTranslate="cpVenueManagerApp.venue.contractor" for="field_contractor">Contractor</label>
            <select class="form-control" id="field_contractor" data-cy="contractor" name="contractor" formControlName="contractor">
              <option [ngValue]="null"></option>
              <option
                [ngValue]="
                  contractorOption.id === editForm.get('contractor')!.value?.id ? editForm.get('contractor')!.value : contractorOption
                "
                *ngFor="let contractorOption of contractorsSharedCollection; trackBy: trackContractorById"
              >
                {{ contractorOption.name }}
              </option>
            </select>
          </div>
          <div class="col-md-4 mb-3">
            <label class="form-label" jhiTranslate="cpVenueManagerApp.venue.location" for="field_location">Location</label>
            <input type="text" class="form-control" name="location" id="field_location" data-cy="location" formControlName="location" />
            <div *ngIf="editForm.get('location')!.invalid && (editForm.get('location')!.dirty || editForm.get('location')!.touched)">
              <small
                class="form-text text-danger"
                *ngIf="editForm.get('location')?.errors?.required"
                jhiTranslate="entity.validation.required"
              >
                This field is required.
              </small>
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <label class="form-label" jhiTranslate="cpVenueManagerApp.venue.status" for="field_status">Status</label>
            <select class="form-control" name="status" formControlName="status" id="field_status" data-cy="status">
              <option [ngValue]="null">{{ 'cpVenueManagerApp.VenueStatus.null' | translate }}</option>
              <option *ngFor="let venueStatus of venueStatusValues" [value]="venueStatus">
                {{ 'cpVenueManagerApp.VenueStatus.' + venueStatus | translate }}
              </option>
            </select>
            <div *ngIf="editForm.get('status')!.invalid && (editForm.get('status')!.dirty || editForm.get('status')!.touched)">
              <small
                class="form-text text-danger"
                *ngIf="editForm.get('status')?.errors?.required"
                jhiTranslate="entity.validation.required"
              >
                This field is required.
              </small>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label class="form-label" jhiTranslate="cpVenueManagerApp.venue.value" for="field_value">Value</label>
            <input type="number" class="form-control" name="value" id="field_value" data-cy="value" formControlName="value" />
            <div *ngIf="editForm.get('value')!.invalid && (editForm.get('value')!.dirty || editForm.get('value')!.touched)">
              <small
                class="form-text text-danger"
                *ngIf="editForm.get('value')?.errors?.min"
                jhiTranslate="entity.validation.min"
                [translateValues]="{ min: 0 }"
              >
                This field should be at least 0.
              </small>
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('value')?.errors?.number"
                jhiTranslate="entity.validation.number"
              >
                This field should be a number.
              </small>
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label class="form-label" jhiTranslate="cpVenueManagerApp.venue.totalDuration" for="field_totalDuration">Total Duration</label>
            <input
              type="text"
              class="form-control"
              name="totalDuration"
              id="field_totalDuration"
              data-cy="totalDuration"
              formControlName="totalDuration"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 mb-3">
            <label class="form-label" jhiTranslate="cpVenueManagerApp.venue.distance" for="field_distance">Distance</label>
            <input type="number" class="form-control" name="distance" id="field_distance" data-cy="distance" formControlName="distance" />
            <div *ngIf="editForm.get('distance')!.invalid && (editForm.get('distance')!.dirty || editForm.get('distance')!.touched)">
              <small
                class="form-text text-danger"
                *ngIf="editForm.get('distance')?.errors?.required"
                jhiTranslate="entity.validation.required"
              >
                This field is required.
              </small>
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('distance')?.errors?.number"
                jhiTranslate="entity.validation.number"
              >
                This field should be a number.
              </small>
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <label class="form-label" jhiTranslate="cpVenueManagerApp.venue.considerTravelExpenses" for="field_considerTravelExpenses"
              >Consider Travel Expenses</label
            >
            <input
              type="checkbox"
              class="form-check"
              name="considerTravelExpenses"
              id="field_considerTravelExpenses"
              data-cy="considerTravelExpenses"
              formControlName="considerTravelExpenses"
            />
          </div>
          <div class="col-md-4 mb-3">
            <label class="form-label" jhiTranslate="cpVenueManagerApp.venue.travelExpensesValue" for="field_travelExpensesValue"
              >Travel Expenses Value</label
            >
            <input
              type="number"
              class="form-control"
              name="travelExpensesValue"
              id="field_travelExpensesValue"
              data-cy="travelExpensesValue"
              formControlName="travelExpensesValue"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 mb-3">
            <label class="form-label" jhiTranslate="cpVenueManagerApp.venue.doValueRetention" for="field_doValueRetention"
              >Do Value Retention</label
            >
            <input
              type="checkbox"
              class="form-check"
              name="doValueRetention"
              id="field_doValueRetention"
              data-cy="doValueRetention"
              formControlName="doValueRetention"
            />
          </div>
          <div class="col-md-3 mb-3">
            <label class="form-label" jhiTranslate="cpVenueManagerApp.venue.retentionPercentage" for="field_retentionPercentage"
              >Retention Percentage</label
            >
            <input
              type="number"
              class="form-control"
              name="retentionPercentage"
              id="field_retentionPercentage"
              data-cy="retentionPercentage"
              formControlName="retentionPercentage"
            />
          </div>
          <div class="col-md-3 mb-3">
            <label class="form-label" jhiTranslate="cpVenueManagerApp.venue.retentionValue" for="field_retentionValue"
              >Retention Value</label
            >
            <input
              type="number"
              class="form-control"
              name="retentionValue"
              id="field_retentionValue"
              data-cy="retentionValue"
              formControlName="retentionValue"
            />
          </div>
          <div class="col-md-3 mb-3">
            <label class="form-label" jhiTranslate="cpVenueManagerApp.venue.memberValue" for="field_memberValue">Member Value</label>
            <input
              type="number"
              class="form-control"
              name="memberValue"
              id="field_memberValue"
              data-cy="memberValue"
              formControlName="memberValue"
            />
          </div>
        </div>
        <div class="row"></div>
        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cpVenueManagerApp.venue.comments" for="field_comments">Comments</label>
          <input type="text" class="form-control" name="comments" id="field_comments" data-cy="comments" formControlName="comments" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
